{% macro game() %}

<div class="game_window">
    <div class="row">
        <div class="collumn"> 
            <div class="letter" id="L11"></div>
        </div>

        <div class="collumn">
            <div class="letter" id="L12"></div>
        </div>

        <div class="collumn">
            <div class="letter" id="L13"></div>
        </div>

        <div class="collumn">
            <div class="letter" id="L14"></div>
        </div>

        <div class="collumn">
            <div class="letter" id="L15"></div>
        </div>

    </div>
    <div class="row">
        <div class="collumn"> 
            <div class="letter" id="L21"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L22"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L23"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L24"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L25"></div>
        </div>

    </div>
    <div class="row">
        <div class="collumn"> 
            <div class="letter" id="L31"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L32"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L33"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L34"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L35"></div>
        </div>

    </div><div class="row">
        <div class="collumn"> 
            <div class="letter" id="L41"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L42"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L43"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L44"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L45"></div>
        </div>

    </div><div class="row">
        <div class="collumn"> 
            <div class="letter" id="L51"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L52"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L53"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L54"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L55"></div>
        </div>

    </div>

    <div class="row">
        <div class="collumn"> 
            <div class="letter" id="L61"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L62"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L63"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L64"></div>
        </div>

        <div class="collumn"> 
            <div class="letter" id="L65"></div>
    </div>

</div>
</div>

<div class="letters_used">
    <label for=" ">LETTERS USED</label></br>
    <div style="text-align: left;" id="used_letters">
    </div>
</div>

<div class="keyboard">
    
        <label for="Guess">GUESS</label></br>
        <div style="color: black;">
            <input type="text" id="Guess"></br>
            <button type="button" onclick="guess_word()" style="margin: 5px;"> GUESS! </button>
        </div>


        <div style="color: black;">
            <button type="button" onclick="reset()" style="margin: 5px;"> Reset! </button>
        </div>
    



</div>



{% endmacro %}