{% macro game() %}

<div class="game_window">
    <div class="row">
        <div class="collumn"> 
            <div class="letter" id="L11"></div>
        </div>

        <div class="collumn">
            <div class="letter" id="L12"></div>

        </div>

        <div class="collumn">
            <div class="letter" id="L13"></div>

            

        </div>

        <div class="collumn">
            <div class="letter" id="L14"></div>


        </div>

        <div class="collumn">

            <div class="letter" id="L15"></div>

        </div>

    </div>
    <div class="row">
        <div class="collumn">
        </div>

        <div class="collumn">
            
        </div>

        <div class="collumn">
            

        </div>

        <div class="collumn">


        </div>

        <div class="collumn">


        </div>

    </div>
    <div class="row">
        <div class="collumn">
        </div>

        <div class="collumn">
            
        </div>

        <div class="collumn">
            

        </div>

        <div class="collumn">


        </div>

        <div class="collumn">


        </div>

    </div>
    <div class="row">
        <div class="collumn">
        </div>

        <div class="collumn">
            
        </div>

        <div class="collumn">
            

        </div>

        <div class="collumn">


        </div>

        <div class="collumn">


        </div>

    </div>
    <div class="row">
        <div class="collumn">
        </div>

        <div class="collumn">
            
        </div>

        <div class="collumn">
            

        </div>

        <div class="collumn">


        </div>

        <div class="collumn">


        </div>

    </div>
</div>

<div class="letters_used">
    <label for=" ">LETTERS USED</label></br>
    <div style="text-align: left;" id="used_letters">
        AHDF
    </div>
</div>

<div class="keyboard">
    <form>
        <label for="Guess">GUESS</label></br>
        <div style="color: black;">
        <input type="text" id="Guess" "></br>
        <button type="button" onclick="guess_word()" style="margin: 5px;"> GUESS! </button>
        </div>

    </form>
</div>



{% endmacro %}