{% from 'header2.html' import header %}
{% from 'glogin.html' import login %}

{% from 'footer.html' import footer %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">
        <script src="{{url_for('static', filename='javascript/java.js')}}"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    </head>



    <div class="background">
        {{ header() }}
        

        
        
                
        {% block content %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                <div style="color: black;" >{{ form.username(size=32) }} </div>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                <div style="color: black;" >{{ form.password(size=32) }}</div>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p style="color: black;">{{ form.submit() }}</p>
        </form>

        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        {% endblock %}





        {{ footer() }}
    </div>
    

</html>